<% provide(:title, "Log into FizzBuzz!") %>
<div class="text-center">
  <h2 class="text-center">Lets get started!</h2>
  <h4>First, we need you to log in or <br /><b><%= link_to "create an account", signup_path %></b> if you haven't already.</h4>
  <h3>THANKS!</h3>
  <br/>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now to order FizzBuzz!", signup_path %></p>
  </div>
</div>