<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.title %></h4>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_item do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="quantity text-right">Quantity: <%= order_item.quantity.to_i %></div>
    
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
    </div>
    
  </div>
</div>