<div class="checkout text-center">
    <h3><b>Total:</b> <%= number_to_currency current_order.subtotal %></h3>
    <br />
    <br />
    <h3><b>Confirm your details</b></h2>
    
    <div>
        <b>Name:</b> 
        <%= @user.first %>, <%= @user.last %> 
    </div>
    
    <div>
        <b>Country:</b> 
        <%= @user.country %>
    </div>
    
    <div>
        <b>City:</b> 
        <%= @user.city %>
    </div>
    
    <br />
    <br />
    
</div>