<h1 class="text-center">CHECKOUT</h1>
<%= render "cart_contents" %>
<%= render "customer_details" %>
<div class="text-center mb-25">
    <%= link_to "Confirm Checkout", order_path(@order), method: "put", id:"checkout-btn",  class: "btn btn-default"  %>
</div>