<div class="text-center">
    <h1>SUCCESS!</h1>
    Your order is on its way to beautiful <%= current_user.city %>
</div>
<div id="congrats">
    <%= image_tag "congrats.jpg", alt: "CONGRATS!" %>
</div>