<% provide(:title, "Edit user") %>
<h1 class="text-center">Update your account info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first %>
      <%= f.text_field :first, class: 'form-control' %>
      
      <%= f.label :last %>
      <%= f.text_field :last, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control' %>
      
      <%= f.label :region %>
      <%= f.text_field :region, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>