<% provide(:title, 'All users') %>

<% if logged_in? && current_user.admin? %>
  <h1 class="text-center">All <%= title %> Users</h1>
  
  <div class="text-center">
  <%= will_paginate %>
  
  <ul class="users nav">
    <% @users.each do |u| %>
    <li class="user">
      <p><h3><%= u.first %>, <%= u.last %></h3></p>
      <p><%= u.email %></p>
      <p>City: <%= u.city %>, <%= u.country %></p>
    </li> 
    <% end %>
  </ul>
  </div>
  <%= will_paginate %>

<% else %>

  <h1>You need to be an admin to view users</h1>

<% end %>