<% provide(:title, @user.first + " " +@user.last) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.first %> <%= @user.last %></h1>
    </section>
  </aside>
</div>