<% provide(:title, "Beverage $ales") %>
<div class="col-xs-4 col-xs-offset-4 text-center">
    <h1 class="text-center">Beverage $ales!</h1>
    
    <h2>Historical Info</h2>
    <br />
    <div id="sales-history">
        <p><b>Total Revenue:</b> <%= number_to_currency @sum %></p>
        <p><b>Total Orders:</b> <%= @count %></p>
        <p><b>Bottles Shipped:</b> <%= @shipped %></p>
    </div>
    
    <h2>Live Sales Feed</h2>
    <div id="updates"></div>
    <%= render "layouts/pusher_app.js" %>
</div>