@import "bootstrap-sprockets";
@import "bootstrap";

/*** VARS, MIXINS, GLOBAL SETTINGS ***/



/*** MARGINS & PASDDING ***/
$spacing:(p:padding,pr:padding-right,pl:padding-left,pt:padding-top,pb:padding-bottom,m:margin,mr:margin-right,ml:margin-left,mt:margin-top,mb:margin-bottom);

@each $i in 0, 5, 10, 15, 20, 25 {
  @each $class, $prop in $spacing {
    .#{$class}-#{$i}{ #{$prop}: #{$i}px !important; }
  }
  .mv-#{$i}{ margin-top:#{$i}px;margin-bottom:#{$i}px; }
  .mh-#{$i}{ margin-left:#{$i}px;margin-right:#{$i}px; }
  .pv-#{$i}{ padding-top:#{$i}px;padding-bottom:#{$i}px; }
  .ph-#{$i}{ padding-left:#{$i}px;padding-right:#{$i}px; }
}

.m-vn25{ margin-top: -25px; }


/*** TYPE ***/

html, body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    b{ font-weight: 700; } 
}

h1, h2, h3, h4, h5{
    //font-family: font-family: 'Quicksand', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-weight:100;
    b{ font-weight: 700; }
}

/***  HEADER  ***/

#top-header{
    opacity: .94;
    positionr:relative;
    z-index: 999;
    
    .navbar, #logo{
        &:hover{ background-color: transparent; }
    }
    #logo{
        color: #eee;
        display: block;
        text-align: center;
        font-weight: 100;
        font-family: times new roman;
        padding-top: 35px;
        &:hover{ text-decoration:none; } 
        h1{
            font-size: 65px;
            font-weight:100 !important;
            &:hover{
                border:0;
                text-decoration:none;
            }
        }
    }
    #top-nav .navbar-nav{
        margin: auto;
        display: inline-block;
        float:none;
    }
    .navbar{
        float:none;   
        text-align:center;
        li{
            float:none;
            display: inline-block;
        }
    }
}


/*** STRUCTURE ***/

main#content{
    z-index:1;
    position:relative;
    min-height: 800px;
}

div.pagination{
    display: block;
    width: 100%;
    text-align: center;
    
    *{ 
        border: 0;
    }
}


/*** PRODUCTS ***/

main .product{
    text-align:center;
    padding: 15px 25px;
    margin-bottom: 50px;
    
    .input-group{
        max-width: 40%;
        margin: auto;
    }
    
    .product-info{
        max-width: 40%;
        margin: auto;
        &:hover{
            background:transparent;
            color: #222;
            text-decoration:none;
            color: #555;
        }
    }
    
}


/*** CHECKOUT ***/

#checkout-button{
    margin-bottom:50px;
}

#congrats{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    text-align: center;
}

/*** FOOTER ***/

footer{
    background-color: #eee;
    padding: 25px;
    position: relative;
    z-index: 1;

    h2{
        border-bottom: 1px dashed #ccc;
        padding-bottom: 30px;
    }
}