<div class="col-xs-12 col-md-6 product">
      
    <a class="product-info" href="/products/<%=product.id%>">
      
        <%= image_tag product.image.url(:medium), width:150 %>
        <h3 class="text-uppercase"><%= product.title %></h3>
    </a>
    <%= product.description %>
      
    
    <div class="">
      
      <%= form_for order_item do |f| %>
      <h4 class=""><span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <% #if current_user.admin? %>
        <small><%= link_to 'Edit', edit_product_path(product) %></small>
      <% #end %>
    </div>
</div>