<% provide(:title, 'Create Product') %>
<h1 class="text-center">Create a product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @product, html: { multipart: true } do |f| %>
        
        <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title %>
        </div>

        <div class="field">
            <%= f.label :description %><br>
            <%= f.text_area :description %>
        </div>
        
        <div class="field">
            <%= f.label :price %><br>
            <%= f.text_field :price %>
        </div>
        
        <div class="field">
            <%= f.file_field :image %>
        </div>

      <%= f.submit "Create Beverage!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>