<h1 class="text-center">The Fizz, the Buzz, the beverages:</h1>

<div class="row">
  <div class="col-xs-12">
    <%= will_paginate %>
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
    <%= will_paginate %>
  </div>
</div>