
<div class="text-center mb-25 p-25 product">
    <%= image_tag @product.image.url(:medium), width:400 %>
    <h1 class="text-center"><%= @product.title %></h1>
    <div class="input-group">
        <%= @product.description %>
        <%= form_for @order_item do |f| %>
            <h4 class=""><span><%= number_to_currency @product.price %></span></h4>
            <div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              <div class="input-group-btn">
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.submit "Add to Cart", class: "btn btn-primary" %>
              </div>
            </div>
        <% end %>
    </div>
    <% #if current_user.admin? %>
    <small><%= link_to 'Edit', edit_product_path(@product) %></small>
    <% #end %>
</div>


