</main>
<footer class="footer">
  <div class="container">
    <h2 class="text-center"><%= title %></h2>
    <nav class="navbar text-center">
      <ul class="navbar-nav nav">
        <li><%= link_to "home",   root_path %></li>
        <% if logged_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>

        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
        <% if has_cart %>
          
            <li><%= link_to "Checkout #{current_order.order_items.size}", checkout_path  %></li>
            <li><%= link_to "Empty Cart", empty_cart_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </nav>
  </div>
</footer>