<header id="top-header" class="navbar navbar-inverse navbar-collapse">
  <div class="container">
    
    <a href="/" id="logo">
      <h1>
        <%= image_tag "fb-logo.png", alt: "#{title}", width:"80px" %><br/>
        <%= title %>
      </h1>
    </a>
      
    
    
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#top-nav" aria-controls="bs-navbar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <nav id="top-nav" class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav ">
        <li><%= link_to "Shop!", store_path %></li>
        <li><%= link_to "Sales Stats", stats_path %></li>
      
      <% if logged_in? %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" 
          role="button" aria-haspopup="true" 
          aria-expanded="false">
            Account <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
      <% if has_cart %>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" 
          role="button" aria-haspopup="true" 
          aria-expanded="false">
            Cart (<%= current_order.order_items.size %>) <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "View/Edit Cart", cart_path  %></li>
            <li><%= link_to "Checkout", checkout_path  %></li>
            <li><%= link_to "Empty Cart", empty_cart_path %></li>
          </ul>
        </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
<main id="content">