<style>
.hidden{ opacity: 0; height: 0; padding:0; transition: all .2s ease; }
.order{ transition: all .2s ease; padding: 20px 0; border-bottom: 1px dashed #aaa; }
</style>
<script>
// Enable pusher logging - don't include this in production

"user strict";

Pusher.log = function(message) {
  if (window.console && window.console.log) {
    window.console.log(message);
  }
};

var pusher = new Pusher('9a3be651fc6e022d4c10', {
  encrypted: true
});

var channel = pusher.subscribe('updates_channel');

channel.bind('app_update', function(data) {
    var 
    name = data.user.first,
    total = data.order.subtotal,
    country = data.user.country,
    city = data.user.city, 
    quantity = 0,
    products = data.products,
    tmp;

    for(var i=0; i<products.length; i++)
        quantity += products[i].quantity
    
    var rr = '<div class="order hidden"><h3>$'+total+ ' - ' +city+'<br/><small>'+ data.order.updated_at +'</small></h3><div class="order-name"><b>Name:</b> '+ name +'</div><div class="order-country"><b>country:</b> '+ country +'</div><div class="order-city"><b>city:</b> '+ city +'</div><div class="order-info"><b>total:</b> $'+ total + ' for ' + quantity +' items</div></div>';
    $("#updates").prepend(rr)
      .find('.order:last-child').hide();
    
    $("#updates .hidden").removeClass('hidden').fadeIn(300);
    
    
});    
</script>